{:lib toyokumo/toyokumo-commons
 :version "0.3.{{git/commit-count}}"
 :description "Utility functions that are used in multiple Toyokumo products"
 :licenses [{:name "APACHE LICENSE, VERSION 2.0"
             :url "https://www.apache.org/licenses/LICENSE-2.0"}]
 :documents [{:file "CHANGELOG.md"
              :match "Unreleased"
              :action :append-after
              :text "\n## {{version}}"}]
 :github-actions? true}
