name: Build and Test

on:
  push:
    tags-ignore:
      - '*'
    branches:
      - '*'

jobs:
  buid-and-test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:alpine
        ports:
          - 5432:5432
        env:
          TZ: Asia/Tokyo
          POSTGRES_USER: toyokumo
          POSTGRES_PASSWORD: commons
          POSTGRES_DB: toyokumo
      redis:
        image: redis:alpine
        ports:
          - 6379:6379

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
          java-package: jdk
          architecture: x64

      - uses: DeLaGuardo/setup-clojure@master
        with:
          cli: latest

      - name: Show versions
        run: |
          java -version
          clojure --version

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: clj-cache-${{ hashFiles('**/deps.edn') }}
          restore-keys: |
            clj-cache-
      - name: Test
        run: make test